body{
    background-color: #f5f5f5;
    overflow-y:scroll;
}

footer{  
    top: -80px;
    clear: both;
    position: relative;
    height: -1em;
    margin-top: -1em;
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    background-color: white;
    border-right: 1px solid #dadfe3;
    border-bottom: 1px solid #dadfe3;
    border-left: 1px solid #dadfe3;
}
@media screen and (max-width: 1300px){
    footer{
        max-width: 90%;
    }
}
#scroll-top{
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 1%;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #162338;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
#scroll-top:hover {
  background-color: #555;
}

.conteudo {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding-bottom: .5rem;
}
@media screen and (max-width: 1300px){
    .conteudo{
        max-width: 90%;
    }
}
/*Botões Sociais*/
.btn-facebook {
    color: #fff;
    background-color: #3b5998;
}

.btn-facebook:hover {
    color: #3b5998;
    background-color: white;
    border-color: #3b5998;
    border-color: rgba(59,89,152,0.4);
}

.btn-googleplus {
    color: #fff;
    background-color: #dd4b39;
}

.btn-googleplus:hover {
    color: #dd4b39;
    background-color: white;
    border-color: #dd4b39;
    border-color: rgba(221,75,57,0.4);
}
/*Final - Botões Sociais*/

.marquee {
    position: relative;
    z-index: 0;
    padding: 4px 0px;
    border-radius: 0px;
    overflow: hidden;
    background: #deefb7;
    color: #162128;
    font-size: 20px;
    border-bottom: 2px solid #162338;
}
.hero{
    height: calc(100vh - 60px) !important;
    padding-top: 0px!important;
    margin-top: 60px!important;
}
.pular-menu{
    margin-top: 60px !important;
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}
a, .clicavel{
    cursor: pointer;
}

::-webkit-scrollbar
{
	width: 7px;
	background: #162338;
}
::-webkit-scrollbar-thumb 
{
	background: #ff7b00;
	border-radius: 8px;
}