/*
    Azul - #30c5ff
    Azul-Escuro - #162338;
    Laranja - #ff7b00
    Preto - #162128
    Verde - #deefb7
    Cinza - #c8c8c8
*/

th{
    width: 10%;
}

.pos-cabecalho{
    padding-top: 120px;
    margin-bottom: 30px;
    padding-bottom: 1rem;
    background-color: white;
    border-bottom: 1px solid #c8c8c8;
}
.criar-nova-instancia{
    margin-left: 14%;
}
.sem-instancia{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.sem-instancia span{
    color: #cacaca;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 1rem;
}
.instancia-card{
    width: 80%;
    margin-bottom: 2%;
    transition: transform .2s;
}
.instancia-card:hover{
    transform: scale(1.01);
}
.instancia-corpo{
    background-color: white;
    padding:0;
    border: 3px solid #162338;
    border-bottom-left-radius:0.3rem;
    border-top-left-radius:0.3rem;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.instancia-corpo:hover{
    cursor: pointer;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.4);
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
.instancia-imagem{
    width: 200px;
    height: 200px;
    margin: .5rem .3rem .5rem .5rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    z-index: 2;
}
.instancia-cabecalho{
    font-size: 2rem;
    font-weight: bold;
}
.instancia-conteudo{
    padding: 0;
}
.instancia-ultima-alteracao{
    position: absolute;
    right: 8px;
    bottom: 4px;
    color: #c8c8c8;
}
.instancia-controle .btn{
    width: 50px;
    height: 40px;
    border-radius: 0;
}
.instancia-controle .btn:first-child{
    border-top-right-radius: 0.3rem;
}
.instancia-controle .btn:last-child{
    border-bottom-right-radius: 0.3rem;
}