/*
    Azul - #30c5ff
    Azul-Escuro - #162338;
    Laranja - #ff7b00
    Preto - #162128
    Verde - #deefb7
    Cinza - #c8c8c8
*/

/*MENU TOPO*/
.navbar {
    position:fixed;
    width: 100%;
    top:0px;
    background: #162338;
    height: 60px;
    z-index: 5;
    border-bottom: 1px solid #ff7b00;
    -webkit-box-shadow: 0 8px 6px -8px black;
    -moz-box-shadow: 0 8px 6px -8px black;
    box-shadow: 0 8px 6px -8px black;
}

.logo-topo {
    margin-top: 30px;
    max-height: 90px;
    position: absolute;
    top: -50px;
    z-index: 5;
}

.fundo-logo{
    position: absolute;
    background: #162338;
    width: 110px;
    height: 110px;
    border-bottom: 1px solid #ff7b00;
    border-radius: 50%;
    top: -30px;
    left: -10px;
    z-index: 4;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.logo-nome-topo{
    position: absolute;
    left:15%;
    padding: 5px;
    width: 10px;
}
.logo-nome-topo > img{
    width: 120px;
}

.navbar a {
    color: white;
}

.navbar i {
    color: white;
}

.avatar-usuario {
    width: 40px;
    height: 40px;
    margin-right: .5rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    z-index: 2;
}
.nome-usuario{
    line-height: 2.8rem;
}
.btn-azul {
    background-color: #162338 !important;
    color: white !important;
    -webkit-transition-duration: 0.2s !important; /* Safari */
    transition-duration: 0.2s !important;
}

.btn-azul:hover:enabled {
    background-color: white !important;
    color: #ff7b00 !important;
    border:1px solid #ff7b00 !important;
}

.btn-azul:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,0.25);
}

.dropdown-menu {
    background-color: #162338;
}

.dropdown-item:hover {
    color: #ff7b00 !important;
    background-color: white !important;
}

.menu-esquerdo-toggle{
    margin-left: 10px;
    font-size: 25px;
}
.menu-esquerdo-toggle:hover i{
    color:#ff7b00;
}

.menu-usuario-topo{
    margin-top: 1rem;
}
/*FINAL - MENU TOPO*/

/*MENU LATERAL ESQUERDO*/
.menu-esquerdo {
    display:none;
    height: 100%; /* 100% da altura */
    width: 280px;
    position: fixed; /* Fica no topo */
    z-index: 10; /* Fica por cima */
    top: 60px;
    left: 0;
    background: #162338;
    overflow-x: hidden; /* Não pode dar scroll horizontal */
    transition: 0.5s; /* 0.5 segundos de efeito lateral */
    border-right: 1px solid #ff7b00;
}

.list-group {
    overflow: visible;
}

.list-group-item {
    background: #162338;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    transition: 0.3s;
    border-left: 0;
    border-right: 0;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;        
}

.list-group-item > .list-group {
    border: 1px solid #ff7b00;
}
.list-group-item:not(.lista-clicavel){
    padding-left:10px;
    text-align: left;
}

.list-group-item:hover {
    color: #ff7b00;
    background: white;
    cursor: default;
}

.list-group-item.lista-clicavel:hover {
    color: #ff7b00;
    background: white;
    cursor: pointer;
}

.list-group-item > .list-group {
    display: none;
    position: absolute;
    right: -300px;
    top: -2px;
    width: 300px;
/*    overflow: visible;*/
    max-height: 200px;
    overflow-y:scroll;
}

.list-group-item:hover > .list-group {
    display: block;
}
.item-sem-filhos{
    text-align:left;
}
.acao-categoria{
    position: relative;
}
.insignia {
    position: relative;
    width: 15px;
    height: 25px;
    border-radius: 4px;
    color: #162338;
    background: white;
    font-weight: bold;
}
.insignia > span{
    position: relative;
    left: -9px;
    top:1px;   
}

.list-group-item:hover .insignia{
    color: #ff7b00;
    border: 1px solid #ff7b00 !important;
}

.cabecalho-menu-lateral{
    text-align: left;
    padding-top:20px;
    padding-bottom:20px;
    color:white;
}

.historia-avatar{
    width: 50px;
    height: 50px;
    margin-left: .3rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    z-index: 2;
}

.nome-historia{
    font-size: 16px;
    color:white;
    margin-left: 1.2rem;
    background-color: #162338;
    border:0;
}
.nome-historia:hover{
    cursor:pointer;
}
.nome-historia:focus{
    outline: 0;
}

.bem-vindo-texto{
    font-size: 14px;
    color:#ccc;
    margin-left: 1rem;
}

.separador-menu-lateral{
    height: 40px;
    background:#4a566c;
    color: #162338;
    line-height: 40px;
    text-align: center;
}

.insignia-container{
    position:absolute;
    top:.5rem;
    right: 1.5rem;
}
/*FINAL - MENU LATERAL ESQUERDO*/
